body {
  font-family: arial, "poppins";
}

.container {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container .tile-name {
  position: relative;
  font-size: 24px;
}

.container .game-wrapper {
  position: relative;
  max-width: 784px;
  max-height: 784px;
  height: max-content;
  width: max-content;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -24px;
    width: 22px;
    height: calc(100% - 10px);
    background-color: ghostwhite;
    border-width: 3px 0 3px 3px;
    border-style: solid;
    border-color: #666666;
    z-index: 0;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 1px;
    width: calc(100% - 5px);
    height: 28px;
    background-color: ghostwhite;
    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-color: #666666;
    z-index: 0;
  }
}

.container .game-wrapper .axis-y {
  position: absolute;
  top: 0;
  left: -16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #707070;
  z-index: 1;
}
.container .game-wrapper .axis-x {
  position: absolute;
  bottom: -24px;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #707070;
  z-index: 1;
}

.container .game-wrapper .game.board img[alt="Chess Board"] {
  width: calc(784px / 2);
  height: calc(784px / 2);
}

.container .game-wrapper .game.board img.piece {
  position: absolute;
}
